[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
drf-api-checker = "*"
factory-boy = "*"
flake8 = "*"
flake8-html = "*"
freezegun = "*"
ipython = "*"
isort = "*"
mock = "*"
pdbpp = "*"
pre_commit = "*"
pytest = "*"
pytest-coverage = "*"
pytest-django = "*"
pytest-echo = "*"
pytest-ignore-flaky = "*"
pytest-pythonpath = "*"
responses = "*"
sphinx = "*"
tox = "*"
vcrpy = "*"
webtest = "*"
django-webtest = "*"
sync = "*"

[packages]
celery = "*"
dj-database-url = "*"
dj-static = "*"
Django = "*"
django-adminactions = "*"
django-admin-extra-buttons = "*"
django-celery-beat = "*"
django-celery-email = "*"
django-celery-results = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-redis-cache = "*"
djangorestframework = "*"
djangorestframework-csv = "*"
djangorestframework-simplejwt = "*"
djangorestframework-recursive = "*"
djangorestframework-xml = "*"
django-rest-framework-social-oauth2 = "*"
gunicorn = "*"
newrelic = "*"
office365-rest-client =  "*"
psycopg2-binary = "*"
sentry-sdk = "*"
requests = "*"
sharepoint-rest-api = "*"
social-auth-app-django = "*"
social-auth-core = {extras = ["azuread"],version = "*"}
unicef-realm = "*"
unicef-djangolib = "*"
unicef-notification = "*"
unicef-security = "*"
unicef-vision = "*"
uwsgi = "*"
django-picklefield = "*"

[requires]
python_version = "3.11"
